@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
	 }
     /* No seu arquivo style.css ou outro CSS */
.bg-custom-purple {
    background-color: #4b0082 !important; /* Use !important para garantir que sobrescreva o Bootstrap, se necessário */
}
/* No seu arquivo style.css ou outro CSS */
.bg-custom-orange {
    background-color: #ff9800 !important; /* Use !important para garantir que sobrescreva o Bootstrap, se necessário */
}
/* No seu arquivo style.css ou outro CSS */
.bg-custom-green-lemon {
    background-color: #99e89d !important; /* Use !important para garantir que sobrescreva o Bootstrap, se necessário */
}
