@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
	 }
     /* No seu arquivo style.css ou outro CSS */
.bg-custom-purple {
    background-color: #4b0082 !important; /* Use !important para garantir que sobrescreva o Bootstrap, se necessário */
}
/* No seu arquivo style.css ou outro CSS */
.bg-custom-orange {
    background-color: #ff9800 !important; /* Use !important para garantir que sobrescreva o Bootstrap, se necessário */
}
/* No seu arquivo style.css ou outro CSS */
.bg-custom-green-lemon {
    background-color: #99e89d !important; /* Use !important para garantir que sobrescreva o Bootstrap, se necessário */
}
